<div class="main-content">
  <div class="container-fluid" *ngIf="formLoaded">
    <div class="form-buttons">
      <button *ngIf="!isNew && isPublished" (click)="unpublish()" class="btn btn-fill btn-danger">Скрыть
      </button>
      <button *ngIf="!isNew && !isPublished" (click)="publish()" class="btn btn-fill btn-primary">Опубликовать
      </button>
      <button (click)="save()" [disabled]="formGroup.invalid||!hasChanges"
              class="btn btn-fill"
              [ngClass]="{'btn-rose': !(formGroup.invalid||hasErrors)&&hasChanges, 'btn-warning': formGroup.invalid||hasErrors, 'btn-success': success}">
        {{success?"Сохранено!":(formGroup.invalid||hasErrors?"Ошибки!":"Сохранить")}}
      </button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal" [formGroup]="formGroup">
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title">{{model.title}}</h4>
            </div>
            <div class="card-content">
              <text-input [FormGroup]="formGroup" [FieldName]="'title'"
                          [Label]="'Название новости'"></text-input>
              <drop-down-input [FormGroup]="formGroup" [FieldName]="'parent'" [Label]="'Раздел'"
                               [OptGroups]="parentOptGroups"
                               [Comparator]="compareParents"></drop-down-input>
              <text-input [FormGroup]="formGroup" [FieldName]="'url'"
                          [Label]="'Адрес'"></text-input>
              <text-input [FormGroup]="formGroup" [FieldName]="'source'"
                          [Label]="'Источник'"></text-input>
              <cke-input [FormGroup]="formGroup" [FieldName]="'shortText'"
                         [Label]="'Текст (будет отображаться на сайте)'"></cke-input>
              <cke-input [FormGroup]="formGroup" [FieldName]="'addText'"
                         [Label]="'Дополнительный текст (отображается только на странице новости и форуме)'"></cke-input>
              <div class="row">
                <label class="col-md-2"></label>
                <div class="col-md-10">
                  <div class="form-group form-button">
                    <button (click)="save()" class="btn btn-fill btn-rose">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
