<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="formInited">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal" [formGroup]="reactiveFormGroup">
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title">{{news.title}}</h4>
            </div>
            <div class="card-content">
              <div class="row">
                <label class="col-md-2"></label>
                <div class="col-md-10">
                  <div class="form-group form-button">
                    <button (click)="save()" [disabled]="reactiveFormGroup.invalid" class="btn btn-fill btn-rose">Сохранить</button>
                  </div>
                </div>
              </div>
              <text-input [FormGroup]="reactiveFormGroup" [FieldName]="'title'"
                          [Label]="'Название новости'"></text-input>
              <drop-down-input [FormGroup]="reactiveFormGroup" [FieldName]="'parent'" [Label]="'Раздел'"
                               [OptGroups]="parentOptGroups" [Comparator]="compareParents"></drop-down-input>
              <text-input [FormGroup]="reactiveFormGroup" [FieldName]="'url'" [Label]="'Адрес'"></text-input>
              <text-input [FormGroup]="reactiveFormGroup" [FieldName]="'source'" [Label]="'Источник'"></text-input>
              <cke-input [FormGroup]="reactiveFormGroup" [FieldName]="'shortText'"
                         [Label]="'Текст (будет отображаться на сайте)'"></cke-input>
              <cke-input [FormGroup]="reactiveFormGroup" [FieldName]="'addText'"
                         [Label]="'Дополнительный текст (отображается только на странице новости и форуме)'"></cke-input>
              <div class="row">
                <label class="col-md-2"></label>
                <div class="col-md-10">
                  <div class="form-group form-button">
                    <button (click)="save()" class="btn btn-fill btn-rose">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
