<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" [hidden]="!dataLoaded">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Новости</h4>
            <div class="content table-responsive">
              <div class="text-center">
                <pagination-controls (pageChange)="changePage($event)" id="server" previousLabel="Назад"
                                     nextLabel="Вперёд"></pagination-controls>
              </div>
              <table class="table">
                <thead class="text-primary">
                <tr>
                  <th><a (click)="applySort('id')">#</a></th>
                  <th><a (click)="applySort('title')">Заголовок</a></th>
                  <th><a (click)="applySort('date')">Дата</a></th>
                  <th>Раздел</th>
                  <th><a (click)="applySort('authorId')">Автор</a></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let newsItem of items | async | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
                  [ngClass]="{'unpublished':newsItem.pub!=1,'sticky':newsItem.sticky===1}"
                >
                  <td>{{newsItem.id}}</td>
                  <td><a [routerLink]="['/news', newsItem.id, 'edit']">{{newsItem.title}}</a></td>
                  <td>{{(newsItem.date| amFromUnix) | amTimeAgo}}</td>
                  <td>{{newsItem.parentName}}</td>
                  <td>{{newsItem.authorName}}</td>
                  <td>
                    <a target="_blank" href="{{newsItem.publicUrl}}"><i class="material-icons">pageview</i></a>
                    <a href="javascript:;" (click)="deleteItem(newsItem.id)"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="text-center">
                <pagination-controls (pageChange)="changePage($event)" id="server" previousLabel="Назад"
                                     nextLabel="Вперёд"></pagination-controls>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div [hidden]="dataLoaded">
        Загрузка данных
      </div>
    </div>
  </div>
</div>
