<div class="col-md-12" [hidden]="!provider.dataLoaded">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">{{cardIcon}}</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">{{cardTitle}}</h4>
      <div class="content table-responsive">
        <div class="text-center">
          <pagination-controls (pageChange)="provider.changePage($event)" id="server" previousLabel="Назад"
                               nextLabel="Вперёд"></pagination-controls>
        </div>
        <table class="table dataTable">
          <thead class="text-primary">
          <tr>
            <th *ngFor="let column of provider.columns"
                [ngClass]="{
                      'sorting_asc':column.Sorted==provider.sortDirection.Asc,
                      'sorting_desc':column.Sorted==provider.sortDirection.Desc,
                      'sorting':column.Sortable}"
                (click)="column.Sortable?provider.applySort(column.Key):null">
              {{column.Title}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of provider.items | async | paginate: { id: 'server', itemsPerPage: provider.itemsPerPage, currentPage: provider.currentPage, totalItems: provider.totalItems }"
            [ngClass]="provider.getRowClass(item)"
          >
            <td *ngFor="let column of provider.columns">
              <span *ngIf="column.Type===provider.columnTypes.Text">{{column.getValue(item)}}</span>
              <span *ngIf="column.Type===provider.columnTypes.Link"><a [routerLink]="column.getLink(item)"
                                                                       [class.disabled]="column.Disabled">{{column.getValue(item)}}</a></span>
              <span
                *ngIf="column.Type===provider.columnTypes.TimeAgo" title="{{column.getValue(item)| amFromUnix | amLocal | amDateFormat:'DD MMMM YYYY, HH:mm:ss'}}">{{(column.getValue(item)| amFromUnix) | amTimeAgo}}</span>
              <span *ngIf="column.Type===provider.columnTypes.Actions">
                      <span *ngFor="let action of column.Actions">
                        <a *ngIf="action.Type===provider.actionTypes.Click" title="{{action.Title}}" href="javascript:;"
                           (click)="action.Click(item)"><i
                          class="material-icons">{{action.Icon}}</i></a>
                        <a *ngIf="action.Type===provider.actionTypes.ExternalLink" title="{{action.Title}}"
                           href="{{action.GenerateUrl(item)}}"
                           target="_blank"><i class="material-icons">{{action.Icon}}</i></a>
                      </span>
                    </span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <pagination-controls (pageChange)="provider.changePage($event)" id="server" previousLabel="Назад"
                               nextLabel="Вперёд"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="provider.dataLoaded">
  Загрузка данных
</div>
