.control-error {
  color: #f55a4e;
}

.cke_screen_reader_only {
  position: fixed !important;
}

.form-buttons {
  text-align: right;
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 9999;
}

tr.unpublished {
  opacity: 0.6;
}

.form-element.element-invalid label {
  color: #f55a4e;
}

@media (max-width: 991px) {
  .card .card-content {
    padding-top: 50px;
  }

  .form-buttons {
    top: 3px;
  }
}
