.control-error {
  color: #f55a4e;
}

.cke_screen_reader_only {
  position: fixed !important;
}

.form-buttons {
  text-align: right;
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 9999;
}

tr.unpublished {
  opacity: 0.6;
}

.form-element.element-invalid label {
  color: #f55a4e;
}

.error-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10000;
  background: #EEE;
}

.error-screen[data-error-code="500"] {
  background: rgba(238, 238, 238, 0.8);
}

.error-close {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  z-index: 1000;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
  vertical-align: middle;
}

.error-screen[data-error-code="500"] .error-close {
  display: block;
}

.ng-busy-backdrop {
  z-index: 10001;
  position: fixed;
}

ng-busy .loader {
  z-index: 10002;
}

@media (max-width: 991px) {
  .card .card-content {
    padding-top: 50px;
  }

  .form-buttons {
    top: 3px;
  }
}
